@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
  }
  
  header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 95%;
	background-color: black;
	z-index: 100;
  }

.logo {
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: 25px;
  left: 25px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  font-family: 'Press Start 2P', cursive;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
  color: gray;
  font-size: 110%;
}
  
  
  .content {
	margin: 0 auto;
	width: 80%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 42%;
	margin-bottom: 20px;
  }
  
  h1 {
	font-size: 60px;
	margin-bottom: 50px;
  }
  
  .project-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	margin-bottom: 50px;
  }
  
  .project {
	position: relative;
  }
  
  .pdf-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%; /* this creates a 1:1 aspect ratio */
  }
  
  .pdf-container embed {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .button {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #FFFFFF;
    background-color: gray;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    
  }
  
  .button:hover {
    background-color: #FFFFFF;
    color: gray;
    
  }

  
  .button {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 7px;
	margin: 10px;
  }
  
  
  